* {
  padding: 0px;
  margin: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h3 {
  color: #b6e9e6;
}
nav {
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgb(67, 84, 244);
  background: linear-gradient(
    90deg,
    rgba(67, 84, 244, 1) 0%,
    rgba(31, 177, 192, 1) 100%
  );
}
.hidden {
  display: none;
}

#cover {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
}

#main {
  height: 100%;
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main div {
  display: flex;
  align-items: center;
  height: 80%;
  width: 20%;
}
#main div img {
  cursor: pointer;
  height: 100%;
  width: 100%;
}
nav > #main > div > button {
  cursor: pointer;
  font-size: 17px;
  background-color: rgb(218, 165, 32);
  height: 80%;
  color: white;
  border-radius: 20px;
  width: 100%;
  border: 1px solid grey;
}
nav > #main > div > button:hover {
  background-color: rgb(228, 178, 52);
}
nav > #main > div > button:active {
  background-color: rgb(236, 189, 73);
}

#main2 {
  padding: 10px;
  width: 100%;
  height: 30px;
}
#main2 > div {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 60%;
  margin: auto;
}
#main2 > div > div {
  height: 100%;
}
#main2 button {
  cursor: pointer;
  padding: 5px;
  height: 100%;
}
/*main portion*/
main {
  margin-top: 20px;
}

/*form*/
#form {
  z-index: 2;
  background-color: aliceblue;
  position: fixed;
  bottom: 0%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}

#cross {
  cursor: pointer;
  position: relative;
  top: -40px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(210, 91, 91);
  border: 1px solid grey;
  color: aliceblue;
  font-size: 23px;
}
#cross:hover {
  background-color: rgb(218, 105, 105);
}

form {
  margin: auto;
  width: 60%;
}
input {
  margin-bottom: 10px;
  outline: none;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  background-color: aliceblue;
}
input:focus {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border: none;
}
input::placeholder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black;
}

.formButton {
  cursor: pointer;
  margin-top: 20px;
  height: 40px;
  color: white;
  border-radius: 20px;
  background-color: rgba(107, 196, 190, 255);
  width: 100%;
  border: 1px solid grey;
}
.formButton:hover {
  background-color: rgba(107, 208, 190);
  transition: 0.2s;
}
.formButton:active {
  transition: 0.2s;
  background-color: rgb(107, 223, 190);
}

#iconImage {
  cursor: pointer;
  position: fixed;

  bottom: 40px;
  right: 40px;
  width: 80px;
}
#iconImage:hover {
  transition: 0.2s;
  opacity: 0.9;
}
#iconImage:active {
  opacity: 0.8;
}

#pagination {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-left: 50%;
}
#pagination div {
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: rgb(234, 229, 229);
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  form {
    width: 70%;
  }
  #main {
    width: 80%;
  }
  #main div {
    width: 30%;
  }
  #cross {
    right: 40px;
  }
}

@media only screen and (max-width: 992px) {
  form {
    width: 80%;
  }

  #main {
    width: 80%;
  }
  #main div {
    width: 30%;
  }
  #cross {
    right: 30px;
  }
  #iconImage {
    bottom: 30px;
    right: 30px;
  }
}

/*Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (max-width: 768px) {
} */

@media only screen and (max-width: 600px) {
  form {
    width: 90%;
  }

  #main {
    width: 90%;
  }
  #main div {
    width: 40%;
  }
  #cross {
    right: 10px;
  }
  #iconImage {
    bottom: 20px;
    right: 20px;
  }
}
